body {
    background-color: lightblue;
   }#title {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}#photo {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}#footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
